<div class="jumbotron">
<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<div class="list-group">
    <% @publications.each do |publication| %>
      <%= image_tag(publication.page_one_url) %>
      <%= link_to publication.short, publication, class: "list-group-item" %>
    <% end %>
</div>
<br>

<%= link_to 'New Publication', new_publication_path %>
</div>
